.vilao {
    font: 38px italic Arial;
    background-color: darkblue;
    border: 15px solid darkslategrey;
    text-align: center;
    padding: 8px;
}
.img1 {
    background-color: darkblue;
    border: 15px solid darkslategrey;
    text-align: center;
}

.text {
    font: 24px italic Arial;
}
.img2 {
    display: inline-block;
    text-align: center;
    background-color: darkblue;
    border: 53px solid darkslategrey;
    padding: 10px;
}
a {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkblue;
    color: white;
}