.vilao {
    font: 38px italic Arial;
    background-color: darkmagenta;
    border: 15px solid red;
    text-align: center;
    padding: 8px;
}
.img1 {
    background-color: darkmagenta;
    border: 15px solid red;
    text-align: center;
}

.text {
    font: 24px italic Arial;
}

a {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkmagenta;
    color: red;
}