.vilao {
    font: 38px italic Arial;
    background-color: rgb(230, 197, 14);
    border: 15px solid black;
    text-align: center;
    padding: 8px;
}
.img1 {
    background-color: rgb(230, 197, 14);
    border: 15px solid black;
    text-align: center;
}

.text {
    font: 24px italic Arial;
}

a {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: rgb(230, 197, 14);
    color: rgb(5, 5, 5);
}