.titulo1 {
    background-color:red ;
}

.titulo2 {
    background-color: blue;
}

.titulo3 {
    background-color: green;
}

.titulo4 {
    background-color: orchid;
}

.titulo5 {
    background-color: darkgoldenrod;
}