.demon {
    text-align: center;
    background-color: rgb(192, 12, 27);
    font-size: 46px;
}

.mau {
    text-align: center;
    border: 5px;
    border-style: dashed;
    border-color: red;
    font-weight: bold;
    font-size: 32px;
}
.img-1 {
    margin: auto ;
    text-align: center;
    background-color: black;
}
.text {
    font-size: 24px;
}
.img-2{
    text-align:center;
    image-resolution: 200px;
    background-color: black;
}
.habilidade {
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: rgb(248, 1, 1);
    background-color: rgb(7, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
}
.poderes {
    text-align: left;
    font-weight: bold;
   
}
.poder1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}  
.poder2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.poder3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.poder4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.poder5 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.poder6 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.poder7 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.criacao {
    text-align: center;
    border: 5px;
    border-style: dashed;
    border-color: rgb(218, 3, 3);
    background-color: rgb(247, 230, 4);
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
}
.text3 {
    font-style: italic;
    font-size: 24px;
    text-align: left;
}
.img-3 {
    background-color: black;
    image-rendering: auto;
    text-align: center;
}
.img-4 {
    background-color: black;
    image-rendering: auto;
    text-align: center;
}
.inscreva {
    font-size: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    background-color: gold;
    color: black;
}

.ref {
    font-size: 27px;
    font-family: Arial;
}